Package: com.rpetrich.musicbanners
Priority: optional
Section: Tweaks
Maintainer: Ryan Petrich <rpetrich+musicbanners@gmail.com>
Architecture: iphoneos-arm
Version: 0.1
Description: Banners for track changes
Name: MusicBanners
Depends: firmware (>= 5.0), mobilesubstrate
Author: Ryan Petrich <rpetrich+musicbanners@gmail.com>
Tag: purpose::extension
dev: rpetrich
